.contact_section_container{
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 4rem;
  align-items: center;
}

.contact-form-container {
    display: flex;
    border-radius: 4px;
  }
  
  .contact-form {
    position: relative;
    color: rgba(0,0,0,0);
    width: 50%;
        

  }
  
  .contact-form::before {
    position: absolute;
    content: "";
    top: -96px;
    left: 0;
    width: 100%;
    height: calc(100% + 192px);
    background-color: #ffffff;
    border-radius: 4px;
    z-index: -100;
  }
  
  .contact-form .heading {
    margin-bottom: 48px;
  }
  
  .contact-form .heading h2 {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 96px;
    margin-bottom: 48px;
  }
  
  .contact-form .heading p {
    color: #ffffff;
    font-size: 16px;
  }
  
  .contact-form .input {
    position: relative;
    margin-bottom: 24px;
  }
  
  .contact-form .input input,
  .contact-form .input textarea {
    width: 100%;
    padding: 8px 8px 8px 42px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #000000;
    font-size: 14px;

    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(3px) saturate(100%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .contact-form .input i {
    position: absolute;
    top: 10px;
    left: 12px;
    color: #4b5563;
  }
  
  .contact-form .button {
    padding: 12px 36px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    backdrop-filter: blur(14px) saturate(100%);
    -webkit-backdrop-filter: blur(3px) saturate(100%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .contact-form .button:active {
    box-shadow: inset 0 0 4px 2px #304ffe;
  }
  
  .contact-info {
    padding: 96px 48px;
    color: #e4e4e7;
  }
  
  .contact-info .heading {
    margin-bottom: 48px;
    font-size: 24px;
  }
  
  .contact-info .contacts li {
    padding-left: 24px;
    margin-bottom: 32px;
    font-size: 14px;
  }
  
  .contact-info .contacts li i {
    width: 24px;
    padding-right: 12px;
  }
  
  .contact-logo {
    position: relative;
    padding: 24px 32px 40px 32px;
  }
  
  .contact-logo::after {
    position: absolute;
    content: "APEX";
    top: 64px;
    left: 32px;
    font-size: 14px;
    color: #e4e4e7;
  }
  .earth_wrapper{ 
    width: 50%;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  @media screen and (max-width: 1024px) {
    .contact-container {
      flex-direction: column;
      margin: 0;
    }
  
    .contact-form {
      padding: 96px 48px;
    }
  }
  