.flappy_game_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    padding: 4rem;
}
.flappy_game_text{
    padding-right:3rem;
    margin-top:-8rem;
}
#canvas{
    padding: 1rem;
    margin-right: 16%;
}
.glow_text{
    margin: 0.5rem;
    font-size:12rem;
  margin-top:45vh;
  color:white;
  animation-name:glow;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}
.fl{
    margin: 0.5rem;
}

@keyframes glow{
    from{text-shadow:0px 0px 5px #fff,0px 0px 5px #614ad3;}
    to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
  }

  .pt-3{
    padding: 0.5rem;
    font-size: 2em;
  }

  @media (max-width: 800px){
    .flappy_game_box{
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .flappy_game_text{
        margin: 2rem;
        text-align: center;
    }
    #canvas{
        padding-left: 0rem;
    }
    .pt-3{
        opacity: 0;
    }
  }