.krotos_image_wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

#krotos_img{
    height: 97vh;
    width: max-content;
}
.krotos_image_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20px;
    /* margin-right: -100px; */
}