.krotos_image_wrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0%;
    left: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2rem;
}

.krotos_img{
    height: 100%;
    margin-right: -320px;
    margin-bottom: -8%;
}